.profile__user-wrapper {
  max-width: 336px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

@media screen and (max-width: 544px) {
  .profile__user-wrapper {
    max-width: 220px;
    align-items: center;
  }
}
