.profile__user-about {
  max-width: 85%;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 544px) {
  .profile__user-about {
    max-width: 90%;
    font-size: 14px;
    text-align: center;
  }
}
