.footer__copyright {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
  color: #545454;
}

@media screen and (max-width: 896px) {
  .footer__copyright {
    padding-left: 19px;
  }
}

@media screen and (max-width: 544px) {
  .footer__copyright {
    font-size: 14px;
  }
}
