.hamburger {
  font-family: "Inter", "Arial", sans-serif;
  position: absolute;
  top: -143px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  padding: 40px 0 40px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}
