.card__btn-like {
  width: 22px;
  height: 19px;
  padding: 0;
  cursor: pointer;
  border: none;
  background: url('../../../images/card-like.svg') center center/contain no-repeat;
  transition: opacity .6s;
}

.card__btn-like:hover {
  opacity: .5;
}
