.not-found__title {
  margin: 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.21;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 544px) {
  .not-found__title {
    font-size: 24px;
  }
}
