.content {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px 0 66px;
  flex-grow: 1;
}

@media screen and (max-width: 544px) {
  .content {
    padding-top: 42px;
    padding-bottom: 48px;
    gap: 36px;
  }
}
