.logo {
  width: 142px;
  height: 33px;
  background: url('../../images/logo-light.svg') center center/contain no-repeat;
}

@media screen and (max-width: 544px) {
  .logo {
    width: 104px;
    height: 25px;
  }
}
